Excel Modification and CSV Conversion Agent.json
{
  "name": "Excel Modification and CSV Conversion Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 18,
              "weekday": "5"
            }
          ]
        },
        "output": "raw",
        "filters": {
          "custom": "contains(subject,'Filiz')",
          "hasAttachments": true,
          "readStatus": "unread",
          "sender": "no-reply@filiz.io"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        144
      ],
      "id": "d6f73bfb-4f73-4185-9e0f-044eafcf4118",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ky3sgmG8bnr0Y0mw",
          "name": "Microsoft Outlook OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "=attachment_0",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        80,
        144
      ],
      "id": "94579a6e-a21f-4249-93bf-701acfa6b71d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "binaryPropertyName": "=import_sage50_{{ $now.format('dd-MM-yyyy') }}.csv",
        "options": {
          "delimiter": ";",
          "fileName": "import_sage50.csv",
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1648,
        48
      ],
      "id": "8a920162-75ed-40f5-a9af-50b6bf13ffd5",
      "name": "Convert to File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "lignes",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        528,
        144
      ],
      "id": "6f7e95d5-ff48-4982-a7d6-57e8e582cb15",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==== RAPPEL IMPORTANT ===\nToute anomalie signalée doit obligatoirement correspondre à l'une des 7 règles listées ci-dessous.\nNe pas vérifier : cohérence des montants, doublons de session, totaux débit/crédit,\nou toute autre règle non listée explicitement.\n\nAnalyse les factures suivantes et produis un rapport de contrôle qualité.\n\n=== TABLES DE RÉFÉRENCE ===\n\nCODE FOURNISSEUR (compte source → code 411) :\n- 70600100  → 411AKTO\n- 70600500  → 411OCAPIAT\n- 706001200 → 411OPCOMOBI\n- 70600600  → 411AFDAS\n- 70600300  → 411OPCOMMER\n- 70600200  → 411OPCOEP\n\nTABLE INVERSE (code 411 → compte source) :\n- 411AKTO     → 70600100\n- 411OCAPIAT  → 70600500\n- 411OPCOMOBI → 706001200\n- 411AFDAS    → 70600600\n- 411OPCOMMER → 70600300\n- 411OPCOEP   → 70600200\n\nFRAIS D'ÉQUIPEMENT (compte source → compte frais) :\n- 70600100  → 46783000  (AKTO)\n- 70600600  → 46782010  (AFDAS)\n- 70600300  → 46781000  (OPCO Commerce)\n- 70600200  → 46784000  (OPCO EP)\n- 70600500  → 46786200  (OCAPIA)\n- 706001200 → 46786300  (OPCO Mobili)\n- service public → 46785000\n- autres         → 46786100\n\n=== RÈGLES À VÉRIFIER ===\n\n1. NUMÉRO DE PIÈCE\n   - Ne doit contenir ni \"FCT-\" ni \"-CFAMED\".\n   - Exemple valide : FILIZ-2025-1629\n\n2. DATE ETABLI\n   - Format obligatoire : JJ/MM/AAAA (ex: 06/01/2026)\n   - Signaler si vide ou format différent.\n\n3. DATE ÉCHÉANCE\n   - Format JJ/MM/AAAA si non vide. Vide accepté.\n\n4. CODE DE PAIEMENT\n   - Facture normale (Numéro de pièce sans préfixe \"AV-\") :\n     * \"VIR\" uniquement sur la 1ère ligne si Débit > 0.\n     * Toutes les autres lignes doivent être vides.\n   - Avoir (Numéro de pièce commençant par \"AV-\") :\n     * \"VIR\" uniquement sur la 1ère ligne si Crédit > 0.\n     * Toutes les autres lignes doivent être vides.\n   - Signaler si VIR absent là où attendu, présent là où non attendu,\n     ou si une valeur autre que \"VIR\" ou vide est présente.\n\n5. NUMÉRO DE MOUVEMENT\n   - Commence à 1, s'incrémente à chaque nouvelle pièce,\n     reste identique sur toutes les lignes d'une même pièce.\n\n6. COMPTE IMPUTÉ (logique par facture)\n   - Facture normale :\n     * Ligne DÉBIT (Débit > 0) : doit porter un code 411.\n     * Ligne CRÉDIT standard (Crédit > 0 et Crédit ≠ 500) : doit porter le compte source.\n     * Ligne CRÉDIT frais équipement (Crédit = 500) : doit porter le code frais équipement.\n   - Avoir (préfixe \"AV-\") :\n     * Ligne CRÉDIT (Crédit > 0) : doit porter un code 411.\n     * Ligne DÉBIT standard (Débit > 0 et Débit ≠ 500) : doit porter le compte source.\n     * Ligne DÉBIT frais équipement (Débit = 500) : doit porter le code frais équipement.\n   - Signaler tout compte vide ou non conforme aux tables ci-dessus.\n\n7. COLONNES INTERDITES\n   Signaler si présentes : JJ, MM, AAAA, Etab-JJ, Etab-MM, Etab-AAAA,\n   Ech-JJ, Ech-MM, Ech-AAAA, Type de pièce, Analytique Groupe,\n   Date début période, Date fin période, Apprenant, Période contrat.\n\n=== EXEMPLES DE RÉFÉRENCE ===\n\nExemple 1 — Facture CONFORME (aucune anomalie à signaler) :\n{\"num\":\"FILIZ-2025-1001\",\"date_etab\":\"15/01/2026\",\"date_ech\":\"15/02/2026\",\n\"compte\":\"411AKTO\",\"debit\":1500,\"credit\":0,\"code_paiement\":\"VIR\",\"mouvement\":1}\n{\"num\":\"FILIZ-2025-1001\",\"date_etab\":\"15/01/2026\",\"date_ech\":\"\",\n\"compte\":\"70600100\",\"debit\":0,\"credit\":1500,\"code_paiement\":\"\",\"mouvement\":1}\n→ Résultat attendu : aucune anomalie sur cette facture.\n\nExemple 2 — Facture NON CONFORME (1 anomalie réelle) :\n{\"num\":\"FILIZ-2025-1002\",\"date_etab\":\"15/01/2026\",\"date_ech\":\"\",\n\"compte\":\"411AFDAS\",\"debit\":2000,\"credit\":0,\"code_paiement\":\"VIR\",\"mouvement\":2}\n{\"num\":\"FILIZ-2025-1002\",\"date_etab\":\"15/01/2026\",\"date_ech\":\"\",\n\"compte\":\"\",\"debit\":0,\"credit\":2000,\"code_paiement\":\"\",\"mouvement\":2}\n→ Résultat attendu : 1 anomalie — num \"FILIZ-2025-1002\" — \ncolonne \"compte\" — \"Ligne crédit standard sans compte source\"\n\nExemple 3 — Avoir CONFORME :\n{\"num\":\"AV-FILIZ-2025-1003\",\"date_etab\":\"15/01/2026\",\"date_ech\":\"\",\n\"compte\":\"411OPCOEP\",\"debit\":0,\"credit\":3000,\"code_paiement\":\"VIR\",\"mouvement\":3}\n{\"num\":\"AV-FILIZ-2025-1003\",\"date_etab\":\"15/01/2026\",\"date_ech\":\"\",\n\"compte\":\"70600200\",\"debit\":3000,\"credit\":0,\"code_paiement\":\"\",\"mouvement\":3}\n→ Résultat attendu : aucune anomalie sur cet avoir.\n\nCes exemples définissent le standard. Applique exactement la même logique sur les données réelles ci-dessous.\n\n=== DONNÉES ===\n{{ JSON.stringify($json.lignes, null, 2) }}\n\n=== RÉPONSE ATTENDUE ===\nRéponds uniquement avec un objet JSON contenant :\n- \"total_anomalies\" : nombre total d'anomalies (0 si tout est correct)\n- \"anomalies\" : liste des factures non conformes, chacune avec :\n    - \"numero_piece\" : numéro de la facture concernée\n    - \"colonne\" : nom de la colonne\n    - \"probleme\" : description courte du problème\nSi aucune anomalie, \"anomalies\" doit être un tableau vide [].",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Tu es un agent de contrôle qualité comptable spécialisé dans les fichiers Filliz pour import Sage 50.\nTu vérifies UNIQUEMENT les règles listées dans le prompt utilisateur, rien d'autre.\nSi tu penses détecter une anomalie qui ne correspond à aucune règle listée, tu l'ignores complètement.\nTu réponds UNIQUEMENT avec un objet JSON valide, sans texte avant ni après, sans balises markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        976,
        144
      ],
      "id": "b4f68fcb-0322-4a54-889a-808241a0593c",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\nif (!rows || rows.length === 0) {\n  return [{ json: { erreur: \"Aucune donnée reçue.\" } }];\n}\n\n// ── Filtrer les lignes vides (;;;;) ───────────────────────────────\nconst rowsFiltres = rows.filter(row => {\n  const valeurs = Object.values(row);\n  return valeurs.some(v => v !== \"\" && v !== null && v !== undefined);\n});\n\nif (rowsFiltres.length === 0) {\n  return [{ json: { erreur: \"Aucune donnée valide après filtrage.\" } }];\n}\n\nconst CODE_FRAIS_EQUIPEMENT = {\n  \"70600100\":  \"46783000\",\n  \"70600600\":  \"46782010\",\n  \"70600300\":  \"46781000\",\n  \"70600200\":  \"46784000\",\n  \"70600500\":  \"46786200\",\n  \"706001200\": \"46786300\",\n};\n\nconst FOURNISSEUR_VERS_COMPTE = {\n  \"411AKTO\":     \"70600100\",\n  \"411OCAPIAT\":  \"70600500\",\n  \"411OPCOMOBI\": \"706001200\",\n  \"411AFDAS\":    \"70600600\",\n  \"411OPCOMMER\": \"70600300\",\n  \"411OPCOEP\":   \"70600200\",\n};\n\nconst COL = {\n  JOURNAL:   \"@JOURNAL\",\n  NUM_PIECE: \"Numéro de pièce\",\n  ETAB_JJ: \"Etab-JJ\", ETAB_MM: \"Etab-MM\", ETAB_AAAA: \"Etab-AAAA\",\n  ECH_JJ:  \"Ech-JJ\",  ECH_MM:  \"Ech-MM\",  ECH_AAAA:  \"Ech-AAAA\",\n  COMPTE:   \"Compte Imputé\",\n  DEBIT:    \"Débit\",\n  CREDIT:   \"Crédit\",\n  INTITULE: \"Intitulé Ecriture Tiers\",\n  SESSION:  \"Session\",\n};\n\nfunction recomposerDate(j, m, a) {\n  if (!j || !m || !a) return \"\";\n  return `${String(j).padStart(2,\"0\")}/${String(m).padStart(2,\"0\")}/${a}`;\n}\n\nfunction nettoyerPiece(val) {\n  return String(val ?? \"\")\n    .replace(/^FCT-/, \"\")\n    .replace(/-CFAMED/g, \"\");\n}\n\nfunction toNum(val) {\n  return parseFloat(String(val ?? \"0\").replace(\",\", \".\")) || 0;\n}\n\n// ── Boucle principale ──────────────────────────────────────────────\nconst resultat = [];\nlet numeroMouvement = 0;\nlet dernierNumPiece = null;\n\nfor (let i = 0; i < rowsFiltres.length; i++) {\n  const row       = rowsFiltres[i];\n  const numPiece  = nettoyerPiece(row[COL.NUM_PIECE]);\n  const debitNum  = toNum(row[COL.DEBIT]);\n  const creditNum = toNum(row[COL.CREDIT]);\n  const estPremier = i === 0 || nettoyerPiece(rowsFiltres[i-1][COL.NUM_PIECE]) !== numPiece;\n  const estAvoir   = numPiece.startsWith(\"AV-\");\n\n  if (numPiece !== dernierNumPiece) { numeroMouvement++; dernierNumPiece = numPiece; }\n\n  let codePaiement = \"\";\n  if (estAvoir) {\n    // Avoir : uniquement VIR sur la 1ère ligne crédit, rien d'autre\n    if (estPremier && creditNum > 0) codePaiement = \"VIR\";\n  } else {\n    // Facture normale : VIR sur 1ère ligne débit, APP sur 1ère ligne crédit\n    if (estPremier && debitNum > 0)       codePaiement = \"VIR\";\n    else if (estPremier && creditNum > 0) codePaiement = \"APP\";\n  }\n\n  resultat.push({\n    \"@JOURNAL\":                row[COL.JOURNAL]  ?? \"\",\n    \"Numéro de pièce\":         numPiece,\n    \"Date etab\":               recomposerDate(row[COL.ETAB_JJ], row[COL.ETAB_MM], row[COL.ETAB_AAAA]),\n    \"Date ech\":                recomposerDate(row[COL.ECH_JJ],  row[COL.ECH_MM],  row[COL.ECH_AAAA]),\n    \"Compte Imputé\":           String(row[COL.COMPTE] ?? \"\").trim(),\n    \"Débit\":                   row[COL.DEBIT]    ?? \"\",\n    \"Crédit\":                  row[COL.CREDIT]   ?? \"\",\n    \"Intitulé Ecriture Tiers\": row[COL.INTITULE] ?? \"\",\n    \"Session\":                 row[COL.SESSION]  ?? \"\",\n    \"Code de paiement\":        codePaiement,\n    \"Numéro de mouvement\":     numeroMouvement,\n  });\n}\n\n// ── Traitement des comptes par facture ─────────────────────────────\nconst pieces = [...new Set(resultat.map(r => r[\"Numéro de pièce\"]))];\n\nfor (const piece of pieces) {\n  const lignes = resultat.filter(r => r[\"Numéro de pièce\"] === piece);\n  const estAvoir = piece.startsWith(\"AV-\");\n\n  let compteRef = \"\";\n  if (estAvoir) {\n    const ligneCredit = lignes.find(r => toNum(r[\"Crédit\"]) > 0);\n    compteRef = ligneCredit?.[\"Compte Imputé\"] ?? \"\";\n  } else {\n    const ligneDebit = lignes.find(r => toNum(r[\"Débit\"]) > 0);\n    compteRef = ligneDebit?.[\"Compte Imputé\"] ?? \"\";\n  }\n\n  const compteSource = FOURNISSEUR_VERS_COMPTE[compteRef] ?? compteRef;\n\n  for (const ligne of lignes) {\n    const d = toNum(ligne[\"Débit\"]);\n    const c = toNum(ligne[\"Crédit\"]);\n    const compte = ligne[\"Compte Imputé\"];\n\n    if (estAvoir && c > 0) continue;\n    if (!estAvoir && d > 0) continue;\n\n    if (c === 500 || d === 500) {\n      ligne[\"Compte Imputé\"] = CODE_FRAIS_EQUIPEMENT[compteSource] ?? \"\";\n      continue;\n    }\n\n    if (!compte || FOURNISSEUR_VERS_COMPTE[compte]) {\n      ligne[\"Compte Imputé\"] = compteSource;\n    }\n  }\n}\n\n// ── Retour des lignes uniquement ───────────────────────────────────\nreturn resultat.map(ligne => ({ json: ligne }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        144
      ],
      "id": "e7cc9e3f-4dab-445c-b9b5-e17b7aace1c9",
      "name": "Modification de l'excel",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"total_anomalies\": { \"type\": \"number\" },\n    \"anomalies\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"numero_piece\": { \"type\": \"string\" },\n          \"colonne\":      { \"type\": \"string\" },\n          \"probleme\":     { \"type\": \"string\" }\n        },\n        \"required\": [\"numero_piece\", \"colonne\", \"probleme\"]\n      }\n    }\n  },\n  \"required\": [\"total_anomalies\", \"anomalies\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1152,
        416
      ],
      "id": "edf737c0-fffe-41b5-b1ea-7c87fc41079e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const lignes = $('Aggregate').first().json.lignes;\nreturn lignes.map(ligne => ({ json: ligne }));\n \n "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        48
      ],
      "id": "c8442794-8582-4d3f-b9f1-acab370e5a9e",
      "name": "split out"
    },
    {
      "parameters": {
        "fileName": "=import_sage50_{{ $now.format('dd-MM-yyyy') }}.csv",
        "parentId": "01BO2PU7LHJSVPX5GDQZBYZOBHWKSGMFDZ",
        "binaryData": true,
        "binaryPropertyName": "=import_sage50_{{ $now.format('dd-MM-yyyy') }}.csv"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        1872,
        48
      ],
      "id": "6c5509e7-4b6d-4f89-8ae4-7cefa3427081",
      "name": "Upload a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "BtBVf5e26USaWj0F",
          "name": "Microsoft Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "operation": "sendAndWait",
        "chatId": {
          "__rl": true,
          "value": "19:89339c3a-838d-438b-85dc-cd1825ceb51d_9cdc1b60-e5e1-4ce7-b41a-c758ff1bf576@unq.gbl.spaces",
          "mode": "list",
          "cachedResultName": "Yanisse KEMEL, Yanisse KEMEL (oneOnOne)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A89339c3a-838d-438b-85dc-cd1825ceb51d_9cdc1b60-e5e1-4ce7-b41a-c758ff1bf576%40unq.gbl.spaces/0?tenantId=9001268c-6560-43f1-af50-c124560d4ab9"
        },
        "message": "=<b>✅ Import Sage 50 — {{ $now.format('dd/MM/yyyy') }}</b><br><br>\nLe fichier <b>{{ $('Upload a file').item.json.name }}</b> a été généré et vérifié avec <b>0 anomalie</b>.<br><br>\n⬇️ <a href=\"{{ $('Upload a file').item.json['@microsoft.graph.downloadUrl'] }}\">Télécharger le fichier CSV</a><br><br>\n<b>Le fichier a-t-il bien été importé dans Sage 50 ?</b>",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✓ Fichier envoyé sur SAGE",
            "disapproveLabel": "✗ Erreur sur SAGE"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 24
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2320,
        -48
      ],
      "id": "159399da-eebb-45ec-94d8-691b7f0fd6e6",
      "name": "Send message and wait for response",
      "webhookId": "5b8cbb0b-a2c2-4052-bf6e-cee7616bdd8b",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "XzBPTmMxypSJdb1f",
          "name": "Microsoft Teams OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "f.deschamps@cfamederic.com",
        "subject": "Import Filliz à Sage 50",
        "bodyContent": "=<b>✅ Import Filliz à Sage 50 du {{ $now.format('dd/MM/yyyy') }} confirmé</b><br><br>\nLa comptabilité confirme que le fichier a bien été importé dans Sage 50.",
        "additionalFields": {
          "ccRecipients": "y.kemel@cfamederic.com"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2768,
        -144
      ],
      "id": "550710b7-d29f-4c74-aabf-1900e1aca829",
      "name": "Send a message to DRH",
      "webhookId": "748919a5-11fb-43e4-9bde-1d110986d0d2",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ky3sgmG8bnr0Y0mw",
          "name": "Microsoft Outlook OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:89339c3a-838d-438b-85dc-cd1825ceb51d_9cdc1b60-e5e1-4ce7-b41a-c758ff1bf576@unq.gbl.spaces",
          "mode": "list",
          "cachedResultName": "Yanisse KEMEL, Yanisse KEMEL (oneOnOne)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A89339c3a-838d-438b-85dc-cd1825ceb51d_9cdc1b60-e5e1-4ce7-b41a-c758ff1bf576%40unq.gbl.spaces/0?tenantId=9001268c-6560-43f1-af50-c124560d4ab9"
        },
        "contentType": "html",
        "message": "=<b>⚠️ Import Sage 50 — {{ $now.format('dd/MM/yyyy') }}</b><br><br>\nLe fichier a été analysé et contient <b> {{ $('AI Agent').item.json.output.total_anomalies }} anomalie(s)</b> à corriger.<br><br> \n<b>📋 Détail des anomalies :</b><br>\n{{ $('AI Agent').item.json.output.anomalies.map(a => `• Ligne ${a.ligne} — <b>${a.colonne}</b> : ${a.probleme}`).join('<br>') }}<br><br>\n❌ Le fichier n'a <b>pas été envoyé</b>. Veuillez corriger les anomalies et relancer le workflow.\n\n⬇️ <a href=\"{{ $json['@microsoft.graph.downloadUrl'] }}\">Télécharger le fichier CSV</a><br><br>",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2320,
        144
      ],
      "id": "2e13f4ac-31b5-4287-b309-aea2ed7f46e8",
      "name": "Error detected on file - Warning IT support",
      "webhookId": "3bb7387e-d68c-411a-83d9-244ad5dc50f5",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "XzBPTmMxypSJdb1f",
          "name": "Microsoft Teams OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:89339c3a-838d-438b-85dc-cd1825ceb51d_9cdc1b60-e5e1-4ce7-b41a-c758ff1bf576@unq.gbl.spaces",
          "mode": "list",
          "cachedResultName": "Yanisse KEMEL, Yanisse KEMEL (oneOnOne)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A89339c3a-838d-438b-85dc-cd1825ceb51d_9cdc1b60-e5e1-4ce7-b41a-c758ff1bf576%40unq.gbl.spaces/0?tenantId=9001268c-6560-43f1-af50-c124560d4ab9"
        },
        "message": "=Erreur execution SAGE TO FILLIZ - Voir N8N",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1424,
        240
      ],
      "id": "488d3639-feb3-437c-b1c4-d9f51d4d591c",
      "name": "Error IA - Send message to IT support",
      "webhookId": "3bb7387e-d68c-411a-83d9-244ad5dc50f5",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "XzBPTmMxypSJdb1f",
          "name": "Microsoft Teams OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "590cf05b-7a47-4dd5-b430-fea260167312",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2544,
        -48
      ],
      "id": "b06ef34e-2256-4617-bf4a-52030db0bd03",
      "name": "Fichier import to Sage ?"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:89339c3a-838d-438b-85dc-cd1825ceb51d_9cdc1b60-e5e1-4ce7-b41a-c758ff1bf576@unq.gbl.spaces",
          "mode": "list",
          "cachedResultName": "Yanisse KEMEL, Yanisse KEMEL (oneOnOne)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A89339c3a-838d-438b-85dc-cd1825ceb51d_9cdc1b60-e5e1-4ce7-b41a-c758ff1bf576%40unq.gbl.spaces/0?tenantId=9001268c-6560-43f1-af50-c124560d4ab9"
        },
        "message": "=<b>❌ Import Sage 50 — {{ $now.format('dd/MM/yyyy') }} — Échec</b><br><br>\nLe fichier a été importé mais <b>rejeté par Sage 50</b>.<br><br>\n<b>📋 Que faire :</b><br>\n1. Télécharge le fichier : <a href=\"{{ $('Upload a file').item.json['@microsoft.graph.downloadUrl'] }}\">{{ $('Upload a file').item.json.name }}</a><br>\n2. Corrige les données manuellement<br>\n3. Renvoie le fichier corrigé par mail à <b>amina@cfamederic.com</b> pour relancer le workflow<br><br>\n<i>Le workflow se relancera automatiquement à réception du nouveau mail.</i>",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2768,
        48
      ],
      "id": "b436ac8f-6055-4ef4-81ae-c73c2a683edc",
      "name": "Create chat message",
      "webhookId": "692e68e8-1797-424c-8c63-ec36a9dc636d",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "XzBPTmMxypSJdb1f",
          "name": "Microsoft Teams OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Amélioration ( 19/03/2026 )\n1. Relance si la compta ne répond pas.\n2. Si l'import SAGE est mauvais, DATA etc... Renvoyer par teams et refaire la boucle de vérification ou du code qui modifie le CSV\n3. Remplacer les . pae des , pour les chiffres\n4. Optimiser le workflow\n5. Traiter les avoir dans l'algo. Il ne renseigne pas VIR ET APP.\n6. Il y a des lignes vides avec des \"(;;;;;)\"",
        "height": 304,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3168,
        48
      ],
      "id": "f27b3a58-bae5-45aa-aa70-0c2801b33d1c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Pb IA rencontré ( 19/03/2026)\n1. Hallucination de problemes relevé, nottament sur l'indications des lignes où il y a un probleme ( les lignes dites problematiques ne sont pas les bonnes ) \n2. Il me dit que certains calcules ne sont pas cohérent. Hors c'est faux, les chiffres non cohérent ne sont pas présent dans l'excel\n\nLe fichier a été analysé et contient 4 anomalie(s) à corriger.\n📋 Détail des anomalies :\n• Ligne 83 — Crédit : Total crédit (1983) ne correspond pas au débit (1964)\n• Ligne 100 — Compte Imputé : Compte imputé vide\n• Ligne 101 — Compte Imputé : Compte imputé vide\n• Ligne 310 — Session : Session dupliquée sur même mouvement\n\nSeulement 2 anomalies réels, le reste c'est non trouvé",
        "height": 352,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1472,
        576
      ],
      "id": "ad2b64c5-0212-4473-b9d9-f005e3349f19",
      "name": " Probleme ia rencontré"
    },
    {
      "parameters": {
        "content": "## Cout ia\n1. 800 lignes = 0,50 centimes\n2. 377 lignes = 0,385 centimes"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -144
      ],
      "id": "c5133e4c-98dc-4df2-ad70-00f436392ee4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3aa40585-145f-4bf3-a3a3-6f8630e4711d",
              "leftValue": "={{ $('AI Agent').item.json.output.total_anomalies }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2096,
        48
      ],
      "id": "b4beeff9-1ae7-4332-921f-7dd9aaf52da4",
      "name": "Anomalies detected ?"
    },
    {
      "parameters": {
        "content": "## Améloration 2 ( 19/03/1016 )\n\n1 . Vérifier s'il y a des perte entre l'excel de Amina et l'export filliz de base.\n\n2. Apres correction probleme fichier, renvoyer le fichier modifié manuellement et refaire le principe.",
        "height": 176,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2944,
        432
      ],
      "id": "883687b9-55db-4841-9d69-b6bb9212d350",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const lignes = $input.first().json.lignes;\n\nconst lignesFiltrees = lignes.map(l => ({\n  \"num\":          l[\"Numéro de pièce\"],\n  \"date_etab\":    l[\"Date etab\"],\n  \"date_ech\":     l[\"Date ech\"],\n  \"compte\":       l[\"Compte Imputé\"],\n  \"debit\":        l[\"Débit\"],\n  \"credit\":       l[\"Crédit\"],\n  \"code_paiement\":l[\"Code de paiement\"],\n  \"mouvement\":    l[\"Numéro de mouvement\"]\n}));\n\nreturn [{ json: { lignes: lignesFiltrees } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        144
      ],
      "id": "98ea17fe-2c34-4605-9e03-3b163017a73e",
      "name": "Pré-filtrage"
    },
    {
      "parameters": {
        "content": "## Pré-filtrage \n\nLe préfiltrage vas servir à réduire le volume de Tokens à traiter pour l'IA. Pour réduction des couts et réductions du traitements de temps.\n\n27/03/2026 => Update de progression \n=> Controler qu'il n'y ai aucun manque de facture en vérifiant les chiffres les un à a la suite de l'autre => sinon envoyer les factures manquantes à Amina\n",
        "height": 448,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        320
      ],
      "id": "03eec473-3bf1-4498-9232-412bf75bf897",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        944,
        544
      ],
      "id": "93e94d51-7cf6-49dc-8ea4-c3c2d8d8f6ea",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "2XqKKMr7LpxugAVQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Amélioration  - 07/04/2026\n\n1. Mettre en lu, le mail une fois traité\n2. Vérifier les oublies ( verif les numéros de factures qui se suivent )\n",
        "height": 336,
        "width": 608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        368
      ],
      "id": "fd913116-04a3-4439-af5e-719ddf7b342b",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Modification de l'excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Pré-filtrage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "split out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error IA - Send message to IT support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modification de l'excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "split out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Anomalies detected ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Fichier import to Sage ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fichier import to Sage ?": {
      "main": [
        [
          {
            "node": "Send a message to DRH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anomalies detected ?": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error detected on file - Warning IT support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pré-filtrage": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "76cdf720-c7eb-41e7-8a80-96ce2cfaee65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f686366d9c4410c2328486460924cfed2add83f5011fb6f633952ceacde5fda"
  },
  "id": "ydUekVEAkqwkdZqD",
  "tags": []
}